
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1 class="display-3">TechnoBook</h1>
    <p class="lead">Vous avez toujours rêver de pouvoir dialogué avec vos camarades.</p>
    <hr class="my-4">
    <p>Exposez vos choix, exposez vos idées mais avant tout partager avec les autres.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Home/Register" role="button">S'inscrire</a>
    </p>
</div>
    <div class="row">
        <div class="col-md-6">
            <h2>Qu'est ce que Technobook</h2>
            <p>
                Technobook, c'est avant tout un réseau social pour les jeunes étudiants.
                Sur celui-ci vous trouverez l'ensemble des étudiants inscrit à technobel.
            </p>
        </div>
        <div class="col-md-5">
            <div class="blockquote-reverse">
                <blockquote>
                    <p>Je n'ai jamais trouvé un réseau social aussi simple.</p>
                    <footer>Jean Némar</footer>
                </blockquote>
            </div>
            <div class="blockquote-reverse">
                <blockquote>
                    <p>Adieu les pubs, bonjour la liberté ! Nous pouvons enfin dialogué</p>
                    <footer>Paul Parti</footer>
                </blockquote>
            </div>
        </div>
    </div>

